#grid {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 7px;
    height: 7px;
    border: 0.01rem solid rgba(1, 0, 0, 0.1);
    /* transition: background-color 2s ease-out; */
}

.snake {
    background: #E18728;
}

.bait {
    background: darkred;
}

.controls {
    max-width: 50%;
}

.controls .flex {
    justify-content: space-around;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

button {
    padding: 1rem;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }